
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared-style */
.primary-color {
    color: #FD6E0A;
}
.dark-1 {
    color: #181818;
}
.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-weight: 800;
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.btn-secondary {
    background-color: white;
    color: #FD6E0A;
    font-weight: 800;
    padding: 20px 35px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    margin-left: 40px;
}

/* header styles */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 50px 130px 200px;
}
.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}
.banner-description {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
}